# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/venv/*
/solemate_two/*
/shoedoku_env/
#/solemate_two/pages/__pycache__/*
#/solemate_two/pages/migrations/__pycache__/*
#/solemate_two/solemate_two/__pycache__/*
**/__pycache__/*